<div id="logo">
     <a href="<%= "coin" %>"><img src="/images/logo/logo.png" width="70" height="80" alt=""></a>
</div>
<style> 
    #logo{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    padding-right: 15px;
        }
</style>

