<style>
      .w3-bar {
    padding-left: 92px;
    display: flex;
    width: 15%;
    overflow: hidden;
    box-sizing: inherit;
    color: black    ;
    border-radius: 10px;
    }
    .w3-bar-item{
        font-size: 15px;
        margin-right: 80px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w3-container">
        <div class="w3-bar">
            <h5><div class="w3-bar-item">Name</div></h5>
            <h5><div class="w3-bar-item">ATH</div></h5>
            <h5><div class="w3-bar-item">Tarih</div></h5>
        </div>
    </div>
</body>
</html>